body{
    background-image: url(https://www.wallpapertip.com/wmimgs/66-666819_website-design-background-creative-background-image-for-website.jpg);
    background-repeat:no-repeat ;
    background-size:cover;
    min-height:665px;
}